.inicioSesion{

    border: 1px solid bisque;
    padding: 40px;
    border-radius: 15px;
    font-style: italic;
    font-size: 23px;
    background-color: rgba(195, 183, 202, 0.551);
    color: rgb(15, 8, 15);
}
.Titulo{
    font-style: italic;
    font-size: 50px;
    color: rgb(235, 220, 235);
    
}

.Tituloh3{
    font-style: italic;
    font-size: 20px;
    color: rgb(15, 8, 15);
    margin-bottom: 10px;
    
}

.Titulo_pequeno{
    font-style: italic;
    font-size: 25px;
    color: rgb(218, 202, 218);
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 5px rgb(29, 28, 28) solid;
    
}

.cuadrosSesion{
    margin: 15px;
}
.botonIncio{
    margin: 10px;
    padding: auto;
    background-color: rgb(126, 87, 163);
    border-radius: 5px;
    height: auto;
    color: white;


}

.registro{
    text-decoration: none;
    color: white;

}
.registroUsuario{
    
    border: 1px solid bisque;
    padding: 40px;
    border-radius: 15px;
    font-style: italic;
    font-size: 23px;
    background-color: rgba(195, 183, 202, 0.326);
    margin: 30px;
    color: rgb(15, 8, 15);

}
.card_2{
    background-color: aqua;
    
}
.barra_navegacion{

   
}
.ejemplo1{
    margin: 10px;
    border: 1px solid blue;
    
    
   
  
}


.contenedor{
    border: 1px solid rgb(185, 226, 241);
    border-radius: 5px;
    display:flex;
    
    
}
.contenedor2{
    border: 1px solid rgb(201, 41, 41);
    border-radius: 5px;
    display:flex;
    
    
}

.datosEmpresa {
    
    padding: 200px;
    background-color: rgba(195, 183, 202, 0.551);
    height: 500px;
    border-radius: 5px;
   
    
}
.botonesEmpresa {
    padding-top: 150px;
  
    
}
.nombreEmpresa{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
.fondo{
    background-image: url('https://source.unsplash.com/eHckTKxBGq8');
}

.parrafo{
    align-items: center;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
    
}
.ContenedorParrafo{

    border-radius: 5px;
    display:flex;
    color: rgb(235, 220, 235);
    
} 
.ContenedorTarea{
    
    border: 1px solid rgb(185, 226, 241);
  
}

.titulotarea{
    border-bottom: 2px solid  rgb(11, 11, 11)  ;
    padding-bottom: 10px;
}

.listaservicio{
     padding-top: 20px;
     font-size: 15px;
     border-bottom: 2px solid  rgb(11, 11, 11)  ;
}
.calificacion{
    font-size: 20px;
    text-align: justify;
}
.datos_persona{
    margin-top: 20px;
    border: 1px solid rgba(185, 226, 241, 0.306);
    border-radius: 5px;
}
.Titulopersona{
    font-style: italic;
    font-size: 30px;
    color: rgb(235, 220, 235);
    
}
.card{
    margin: 20px;
}
.botonesinicio{
    display: flex;
    justify-content:space-around
}

.buscarPersona{
    font-style: italic;


}

.cuadroHabilidad{
    background-color:rgba(250, 235, 215, 0.242)


}

.inputHabilidad{

    font-size: 20px;
    color: rgb(235, 220, 235);
    padding-right: 10px;
}
